<div class="pt-5 bg-dark text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 container">
        <div class="text-center m-4">
          <h2>Benefits of Working with Our Travel Agency</h2>
        </div>
        <div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <div>
                  <div class="text-center">
                    <div class="text-center p-2"><span><img data-path="/assets/img/icon01.png" alt="" width="70" height="71" src="/assets/img/icon01.png"></span></div>
                    <h3 class="text-center">Everything’s on schedule</h3>
                    <p class="text-center">&nbsp;</p>
                    <p class="text-center">We love punctiality. That’s why the time of each client’s trip is scheduled till the last second of the adventure.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div>
                  <div class="text-center">
                    <div class="text-center p-2"><span><img data-path="/assets/img/icon02.png" alt="" width="70" height="71" src="/assets/img/icon02.png"></span></div>
                    <h3 class="text-center">Comfortable housing</h3>
                    <p class="text-center">&nbsp;</p>
                    <p class="text-center">With us, you can reach any point of the world map. Choose your country and we will discuss all needed details.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div>
                  <div class="text-center">
                    <div class="text-center p-2"><span><img data-path="/assets/img/icon03.png" alt="" width="70" height="71" src="/assets/img/icon03.png"></span></div>
                    <h3 class="text-center">Destination variety</h3>
                    <p class="text-center">&nbsp;</p>
                    <p class="text-center">Even if you have low budget, you can let yourself to go to the other side of the world and live their in the most comfy surrounding.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center divfooter bg-dark text-light">
    <img src="/assets/img/logo2.png" alt="" class="height ">
  </div>
</div>
