<div class="divPetsImg container d-flex justify-content-between mt-5 mb-5">
  <div class="w-50 mr-2">
    <div>
      <div class="homeTitle mb-3 text-secondary">
        We Will Make Your Vacation Unforgettable
      </div>
      <div>
        <div class="">
          <div class="">
            <h3 class="mb-3">Travel insurance</h3> </div>
          <div class="">
            <span class="text-secondary">Flights</span> </div>
          <div class="">
            <span class="text-secondary">Sightseeing</span> </div>
          <div class="">
            <span class="text-secondary">Accommodation</span> </div>
        </div>
      </div>
      <div>
        Travel Insurance is compulsory on all Intrepid trips and is a condition of booking with Intrepid. When selecting a travel insurance policy we require that at a minimum you are covered for medical expenses, including emergency repatriation. We strongly recommend that the policy also covers personal liability, cancellation, curtailment and loss of luggage and personal effects.
      </div>
    </div>
  </div>
  <div class="w-50">
    <img class="card-img-bottom" src="/assets/img/home-img01.jpg" alt="Card image cap">
  </div>
</div>
